{% load static %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="goingModal" tabindex="-1" aria-labelledby="goingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="goingModalLabel">Going/Cancelling</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">

        <div id="liveAlertPlaceholder"></div>

        <!-- Toggle Field -->
        <div class="d-flex justify-content-center align-items-center mb-3">
          <span class="mr-5">Going    </span>
          <div class="form-check form-switch">
            <input class="form-check-input ml-2" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="goingToggle">
          </div>
          <span class="ml-2">Cancelling</span>
        </div>
      
        <!-- Phone Number Field -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Your Phone Number" required>
          <label for="phoneNumber">Phone Number</label>
        </div>

        <!-- Send Button -->
        <button type="button" class="btn btn-primary mb-2" data-url="{% url 'send_code' %}">Send Code</button>
        
      
        <!-- SMS Code Field -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="smsCode" name="smsCode" placeholder="SMS Code" disabled>
          <label for="smsCode">SMS Code</label>
        </div>

        <!-- Verify Code Button -->
        <button type="button" class="btn btn-success mb-2" data-url="{% url 'verify_code' %}" style="display:none;" >Verify Code</button>


      </div>
      


    </div>
  </div>
</div>

      <!-- js -->
<script src="{% static 'js/phoneNumber.js' %}"></script>
<script src="{% static 'js/resetModal.js' %}"></script>



{% endblock %}

