{% extends "base.html" %}
{% load static %}

{% block title %}Colon Four{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dark.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/scroll.css' %}">


<div class="container">
  <div class="row align-items-start">
    <div class="col-md-3">
      <a href="{% url 'home' %}">
        <img src="{% static 'images/colonfour.png' %}" alt="Centered Image" class="img-fluid" style="max-width: 100px; height: auto;">
      </a>
    </div>
    <div class="col-md-8 d-flex justify-content-end mt-4">
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Tip us</a>
          {% if user.is_authenticated and user.organizerprofile and user.organizerprofile.slug %}
          <a class="dropdown-item" href="{% url 'organizer-profile-detail' user.organizerprofile.slug %}">Profile</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="dropdown-item" href="{% url 'login' %}">Log in (as organizer)</a>
          <a class="dropdown-item" href="{% url 'register' %}">Sign up (as organizer)</a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<br>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<div class="container ">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6" style="margin-top: -250px;"> <!-- Adjusted top margin -->
      <form class="mt-3" id="search-form">
        <div class="input-group">
          <input type="text" name="search-box" class="form-control search-box" placeholder="WHERE ARE YOU...">
              <!-- Hidden input for UTC time -->
          <input type="hidden" id="utc-date" name="utc-date" value="">
          <div class="input-group-append">
            <button class="btn btn-primary search-button" type="button">SEARCH</button>

          </div>
        </div>
      </form>

<!-- start card div -->
<div class="scroll-container mt-5 md-2"> <!-- Adjust max-height as needed -->
  {% for event in events %}
    <div class="card position-relative"> <!-- Ensure the card is relatively positioned -->
      <p>{{ event.name }} - {{ event.date }} - {{ event.location }}</p>
      <!-- Badge for event.goings at the top right -->
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{ event.goings }}
        <span class="visually-hidden">goings</span>
      </span>
      <!-- Adjusted New Badge for event.type at the top left -->
      <span class="position-absolute top-0 start-0 badge rounded-pill bg-primary" style="margin-top: 0.5rem; margin-left: 0.5rem;">
        {{ event.get_event_type_display }}
        <span class="visually-hidden">type</span>
      </span>
      <!-- Adjusted Badge for event.level at the bottom right -->
      <span class="position-absolute bottom-0 end-0 badge rounded-pill bg-success" style="margin-bottom: 0.5rem; margin-right: 0.5rem;">
        {{ event.level }}
        <span class="visually-hidden">level</span>
      </span>
    </div>
  {% endfor %}
</div>
<!-- end card div -->

    </div>
  </div>
</div>




<script src="{% static 'js/submitFormWithoutAjax.js' %}"></script>
<script src="{% static 'js/scroll.js' %}"></script>


{% endblock %}
