{% extends "base.html" %}
{% load static %}

{% block title %}Colon Four{% endblock %}

{% block content %}

{% block foo %}
{% include "detailsModal.html" %}
{% include "canvas/filterCanvas.html" %}
{% include "goingModal.html" %}
{% include "canvas/battleCanvas.html" %}

{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/scroll.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/buttons_and_forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/modals_and_specific_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts_and_general_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/filterAndSort.css' %}">


<!-- Single container starts here -->
<div class="container">
  <!-- First Row: Logo and Dropdown -->
  <!-- Removed the div with the action button and the logo -->

  <!-- Displaying Messages -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <!-- Second Row: Search Form and Event Cards -->
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <form class="mt-1" id="search-form" method="GET" action="{% url 'search_home_page' %}">
        <div class="input-group">
          <div class="form-floating flex-grow-1">
            <input type="text" name="search-box" class="form-control search-box" id="autocomplete" placeholder="WHERE ARE YOU...">
            <label for="floatingSearch" id="floatingSearchLabel">WHERE ARE YOU...</label>
          </div>
          <input type="hidden" id="utc-date" name="utc-date" value="">
          <div class="input-group-append">
            <button class="btn btn-primary search-button" type="submit">SEARCH</button>
          </div>
        </div>
      </form>

      <div class="row mt-4">
        <div class="col-2">

            <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#eventFilterOffcanvas" aria-controls="eventDetailsOffcanvas">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
              </svg>
            </button>
            
        </div>
        <div class="col-10">
          <p id="eventDateDisplay" class="h5">On <span>Placeholder Date</span></p>
        </div>
      </div>

      <!-- holder for most recently doubled tapped event -->
      <input type="hidden" id="current-event-id" value="" name="current-event-id">


            <!-- holder for lastCentermostEventId event card -->
            <input type="hidden" id="lastCentermostEventId" name="lastCentermostEventId" value="">

      <div class="scroll-container md-3">
        {% for event in events %}
        <div class="card position-relative" data-event-id="{{ event.id }}" data-event-date="{{ event.get_formatted_date }}" data-event-location="{{ event.location }}">
          {% if event.poster %}
            <img src="{{ event.poster.url }}" alt="{{ event.name }}" class="event-poster">
          {% endif %}
          <p class="event-name">{{ event.name }}</p>
          <!-- Badges for event details YES -->
          <span class="badge badge-goers rounded-pill">
            {{ event.get_number_of_goers }}
            <span class="visually-hidden">goings</span>
          </span>
          <span class="badge badge-type rounded-pill">
            {{ event.get_event_type_display }}
            <span class="visually-hidden">type</span>
          </span>
          <span class="badge badge-level rounded-pill">
            {{ event.level }}
            <span class="visually-hidden">level</span>
          </span>
        </div>
        {% endfor %}
      </div>

      <button button id="view-event-btn" class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#defaultTarget" aria-controls="battleoffcanvas">
        View Event Details
      </button>
      <div class="row location-display-container my-1">
        <div class="col-12">
          <p id="eventLocationDisplay" class="h6">@ <span>Placeholder Location</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Single container ends here -->

<!-- Include Google Maps Places Autocomplete -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places"></script>

<!-- Single container ends here -->

<script src="{% static 'js/submitFormWithoutAjax.js' %}"></script>
<script src="{% static 'js/scroll.js' %}"></script>
<script src="{% static 'js/touches.js' %}"></script>
<script src="{% static 'js/placeholderToggle.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="{% static 'js/filterAndSort.js' %}"></script>
<script src="{% static 'js/eventOffcanvas.js' %}"></script>





{% endblock %}
