{% extends "base.html" %}
{% load static %}

{% block title %}Colon Four{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dark.css' %}">
<h1>{{ organizer.user.name }}</h1>
<p>GDPR Consented: {{ organizer.gdpr_consented }}</p>
<p>Verified: {{ organizer.is_verified }}</p>
<img src="{{ organizer.get_profile_picture_url }}" alt="Profile Picture">

<!-- Bootstrap Toast for Unverified Organizer -->
{% if not organizer.is_verified %}
<div class="toast-body">
    Your profile is not verified. Please <a href="{% url 'org_verification' %}">click here</a> to verify.
</div>
{% endif %}

<!-- Display the number of events -->
<p>Number of events: {{ organizer.organizer_events.count }}</p>

<!-- List of Events -->
<h2>Events:</h2>
<ul>
    {% for event in organizer.organized_events.all %}
        <li>{{ event.name }} - {{ event.date }}</li>
    {% empty %}
        <li>No events found.</li>
    {% endfor %}
</ul>

<div class="col-12">
    <button type="button" class="btn btn-outline-primary btn-block" >
        <a href="{% url 'create_dancer' %}">Create Event</a>
    </button>
</div>
{% endblock %}