@font-face {
  font-family: myfont;
  src: url(Helvetica_Neue_Regular.otf);
}

/* General Styles */
body {
  background-color: #1e1e1e;
  color: #dcdcdc;
  font-family: myfont;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  /* or 'flex', 'inline-block', etc., depending on your needs */
}

/* Button Styles */
.btn-outline-primary,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary {
  color: #dcdcdc;
  border-radius: 0;
  border-color: #dcdcdc;
  box-shadow: none;
}

.btn-outline-primary:hover {
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc;
  color: #1e1e1e;
}

.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.show,
.btn-check:checked+.btn-outline-primary {
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc;
  color: #1e1e1e;
}

/* Image Styles */
.centered-image {
  max-width: 200px;
}

/* Form and Input Styles */
.search-box,
.search-box input[type="text"],
.form-control,
.input-group-text,
.nav {
  background-color: #1e1e1e;
  color: #dcdcdc;
  border-radius: 0;
}

/* Dropdown and Button Styles */
.search-button:focus,
.search-button:active,
.search-button {
  background-color: #1e1e1e;
  border: 1px solid #dcdcdc;
  transition: background-color 0.7s, border-color 0.7s;
  border-radius: 0;
  color: #dcdcdc;
}

.search-button:hover {
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc;
  color: #1e1e1e;
  border-radius: 0;
}

/* Dropdown Menu Styles */
.dropdown-menu {
  padding: 0px;
  border-radius: 0;  /* Remove rounded corners */
  border-top: none;  /* Set top border */
  border-bottom: none;  /* Set bottom border */
  border-left: 0.5px solid #dcdcdc;  /* Remove left border */
  border-right: 0.5px solid #dcdcdc;  /* Remove right border */
}

/* Dropdown Item Styles */
.dropdown-item {
  color: #dcdcdc;
  background-color: #1e1e1e;
  border-top: 0.5px solid #dcdcdc;  /* Remove top border */
  border-bottom: 0.5px solid #dcdcdc;  /* Remove bottom border */
  border-left: none;  /* Set left border */
  border-right: none;  /* Set right border */
  transition: background-color 0.7s, border-color 0.7s;
  border-radius: 0;
}

/* Alert Styles */
.custom-alert {
  background-color: #1e1e1e;
  color: #dcdcdc;
  border-color: #b50202;
  padding: 0.75rem 1.25rem;
  border: 1px solid #b50202;
  border-radius: 0;
  margin-bottom: 1rem;
}

.alert-success {
  background-color: #1e1e1e;
  color: #dcdcdc;
  border-color: #23f55e;
  padding: 0.75rem 1.25rem;
  border: 1px solid #23f55e;
  border-radius: 0;
  margin-bottom: 1rem;
}

.alert-danger {
  background-color: #1e1e1e;
  color: #dcdcdc;
  border-color: #ff0606;
  padding: 0.75rem 1.25rem;
  border: 1px solid #ff0606;
  border-radius: 0;
  margin-bottom: 1rem;
}

/* Icon Button Styles */
.icon-button {
  margin: 10px;
  border: none;
  background: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  border: 1px solid #dcdcdc; /* Border on hover */
}

.icon-button svg {
  width: 50px;  /* Adjust size as needed */
  height: auto;
}

/* Bottom Navigation Styles */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1e1e1e;
  padding: 10px 0;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.nav-item svg {
  fill: #dcdcdc;
}

/* Modal Styles */
.modal-content,
.modal-header,
.modal-body {
  background-color: #1e1e1e; /* Dark background */
  color: #dcdcdc; /* Light text */
  border: 0.5px solid #dcdcdc; /* Light border */
  border-radius: 0;
}

.modal-content,
.modal-body {
  padding: 20px; /* Adjust this value as needed to ensure content doesn't touch the edges */
}

.modal-header,
.modal-footer {
  border-color: #dcdcdc; /* Light border */
}

.btn-close {
  color: #dcdcdc; /* Text color */
}

/* Responsive Adjustments for Smaller Screens */
@media (max-width: 576px) {
  .icon-button svg {
    width: 40px; /* Optionally adjust the size of icons on smaller screens */
    height: auto;
  }

  .modal-content,
  .modal-body {
    padding: 15px; /* Adjust padding for smaller screens if necessary */
  }
}

/* Video container styling */
.video-container {
  position: relative;
  text-align: center;
}

/* Video Styles */
.info-video {
  max-width: 100%;
  height: 50%;
  border-radius: 8px; /* Optional: Adds rounded corners to the video */
}

/* Positioning the unmute/mute button over the video */
.video-control {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  opacity: 0.7; /* Optional: makes the button slightly transparent */
}

.video-control:hover {
  opacity: 1; /* Button becomes fully opaque when hovered */
}

.no-select {
  -webkit-user-select: none;  /* Chrome, Safari, Opera */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
