/* Image Styles */
.centered-image {
    max-width: 200px;
  }
  
  /* Dropdown Menu Styles */
  .dropdown-menu {
    padding: 0px;
    border-radius: 0;  /* Remove rounded corners */
    border-top: none;  /* Set top border */
    border-bottom: none;  /* Set bottom border */
    border-left: 0.5px solid #dcdcdc;  /* Remove left border */
    border-right: 0.5px solid #dcdcdc;  /* Remove right border */
  }
  
  /* Dropdown Item Styles */
  .dropdown-item {
    color: #dcdcdc;
    background-color: #1e1e1e;
    border-top: 0.5px solid #dcdcdc;  /* Remove top border */
    border-bottom: 0.5px solid #dcdcdc;  /* Remove bottom border */
    border-left: none;  /* Set left border */
    border-right: none;  /* Set right border */
    transition: background-color 0.7s, border-color 0.7s;
    border-radius: 0;
  }
  
  /* Alert Styles */
  .custom-alert {
    background-color: #1e1e1e;
    color: #dcdcdc;
    border-color: #b50202;
    padding: 0.75rem 1.25rem;
    border: 1px solid #b50202;
    border-radius: 0;
    margin-bottom: 1rem;
  }
  
  .alert-success {
    background-color: #1e1e1e;
    color: #dcdcdc;
    border-color: #23f55e;
    padding: 0.75rem 1.25rem;
    border: 1px solid #23f55e;
    border-radius: 0;
    margin-bottom: 1rem;
  }
  
  .alert-danger {
    background-color: #1e1e1e;
    color: #dcdcdc;
    border-color: #ff0606;
    padding: 0.75rem 1.25rem;
    border: 1px solid #ff0606;
    border-radius: 0;
    margin-bottom: 1rem;
  }
  
  /* Modal Styles */
  .modal-content,
  .modal-header,
  .modal-body {
    background-color: #1e1e1e; /* Dark background */
    color: #dcdcdc; /* Light text */
    border: 0.5px solid #dcdcdc; /* Light border */
    border-radius: 0;
  }
  
  .modal-content,
  .modal-body {
    padding: 20px; /* Adjust this value as needed to ensure content doesn't touch the edges */
  }
  
  .modal-header,
  .modal-footer {
    border-color: #dcdcdc; /* Light border */
  }
  
  .btn-close {
    color: #dcdcdc; /* Text color */
  }
  
  /* Video container styling */
  .video-container {
    position: relative;
    text-align: center;
  }
  
  /* Video Styles */
  .info-video {
    max-width: 100%;
    height: 50%;
    border-radius: 8px; /* Optional: Adds rounded corners to the video */
  }
  
  /* Positioning the unmute/mute button over the video */
  .video-control {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    opacity: 0.7; /* Optional: makes the button slightly transparent */
  }
  
  .video-control:hover {
    opacity: 1; /* Button becomes fully opaque when hovered */
  }
  